#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[C]=m_icon
Name[C]=Package Manager
Exec=gksu "bxpkg --repo-site ftp://ftp.freebsd.org/pub/FreeBSD/ports/amd64/packages-9.2-release/"
Comment[C]=Manage and install packages
Name=Package Manager
Comment=Manage and install packages
Icon=/usr/local/share/pixmaps/m_icon.png
Categories=System;
