#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Host1Plus
Comment=Cloud Hosting
Exec=firefox http://www.host1plus.com/cloud-hosting/
Icon=/root/Desktop/logo_h1p.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
