[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-web
Type=Application
Categories=Network;
Exec=libreoffice -web %U
Name=LibreOffice 3.3 Web
Name[pt_BR]=BrOffice 3.3 Web
GenericName= Web pages Editor
Comment=Create and edit text and graphics for Web pages by using Web.

